:root {
  --primary_color: #b29753;
  --secondary_color: #000000;
  --light_black_color: #191919;
  --background_color: #f1f3f2;
  --secondary_background_color: #418360;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000000ef;
  /* background-color: #000000c5;  */
  /* background-color: #000000d6;  */
}

.text_color {
  color: #012350 !important;
}

/* header style  */

.header_bg {
  /* gold  */
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(43, 38%, 51%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(0, 0%, 0%, 0.19)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */

  /* dark black  */
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(43, 38%, 51%, 0.6)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");  */

  /* lighter black  */
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(43, 38%, 51%, 0.32)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.header_title {
  font-size: 65px;
}

.header_img {
  height: 500px;
  width: 100%;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  object-fit: cover;
}

.header_span {
  color: var(--primary_color);
  font-weight: bold;
}

.action_btn {
  background-color: var(--primary_color);
  color: white;
}

/* About styling */
.years_font {
  font-size: 80px;
  margin-right: 16px;
}

.sub_title {
  color: white;
}

.section_title {
  color: white;
  font-weight: bold;
}

.icons_style {
  color: var(--primary_color);
  margin-right: 15px;
}

.secondary_btn {
  background-color: var(--primary_color);
  color: white;
}

.about_img {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.point_title {
  color: var(--primary_color);
  font-weight: bold;
}

.years_container {
  background-color: var(--primary_color);
  width: 100%;
  border-radius: 12px;
  padding: 48px;
}

/* Banner style  */

.banner_btn {
  background-color: white;
  color: var(--primary_color);
}

/* Services style  */
/* .service_bg {
  background-color: #00000044;
} */

.card_margin_top {
  margin-top: 48px;
}

.white_card {
  background-color: rgba(255, 255, 255, 0.893);
  border-bottom-right-radius: 60px;
}

.green_card {
  background-color: var(--primary_color);
  border-bottom-right-radius: 60px;
}

.white_icon_container {
  background-color: rgba(255, 255, 255, 0.893);
  vertical-align: middle;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.green_icon_container {
  background-color: rgba(255, 255, 255, 0.263);
  vertical-align: middle;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.white_card_icon {
  font-size: 50px;
  color: var(--primary_color);
}

.green_card_icon {
  font-size: 50px;
  color: white;
}

.service_title {
  color: var(--primary_color);
}

.green_title {
  color: var(--background_color);
}

/* cleaning steps  */
.steps_img {
  height: 600px;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;
}

.service_white {
  background-color: rgba(255, 255, 255, 0.893);
  border-bottom-right-radius: 60px;
}

.service_green {
  background-color: var(--primary_color);
  border-bottom-right-radius: 60px;
}

.count_card_white {
  background-color: var(--primary_color);
  color: white;
  height: 60px;
  width: 60px;
  margin-top: -70px;
}

.count_card_green {
  background-color: white;
  color: var(--primary_color);
  height: 60px;
  width: 60px;
  margin-top: -70px;
}

/* stats style  */

.service_sub_bg {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(43, 38%, 51%, 0.32)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  padding-top: 50px;
  padding-bottom: 50px;
}

.stats_card {
  background-color: rgba(255, 255, 255, 0.893);
  border-bottom-right-radius: 60px;
}

.stats_icon {
  color: var(--primary_color);
  font-size: 40px;
}

.card_font {
  color: var(--primary_color);
}

/* Projects style  */

.project_card {
  background-color: var(--primary_color);
  width: 80%;
  border-top-right-radius: 70px;
}

.project_btn {
  background-color: var(--secondary_color);
  color: var(--primary_color);
  font-size: 14px;
}

/* Team style  */
.team_bg {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(43, 38%, 51%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(0, 0%, 0%, 0.19)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.founder_img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.gold_bg {
  background-color: var(--primary_color);
}

.person_img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.name_card {
  background-color: #323232;
}

/* clients style  */
.client_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.client_mainCard {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(43, 38%, 51%, 0.32)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.client_card {
  border-radius: 30px;
}

.client_name {
  color: var(--primary_color);
}

/* Contact us style  */
.gold_title {
  color: var(--primary_color);
}

.booking_title {
  color: var(--primary_color);
  font-weight: bold;
}

.btn_contact {
  background-color: var(--primary_color);
  color: white;
}

.opacity_style {
  background-color: rgba(255, 255, 255, 0.732);
  height: 700px;
}

.container_card {
  margin-top: -100px;
}

.terms_padding {
  padding: 48px;
}

.contact_section2 {
  margin-top: -130px;
}

.reviews_card {
  background-color: var(--primary_color);
  color: var(--background_color);
}

.arrow_icon {
  font-size: 25px;
  margin-right: 20px;
}

.contact_container {
  background-color: #e6e6e6;
}

.contact_container_padding {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contact_padding {
  padding: 48px;
}

.input_bg {
  background-color: var(--background_color);
}

.btn_booking {
  background-color: var(--primary_color);
  color: white;
  width: 100%;
  border-radius: 0px;
}

/* Blog style  */
.card_border {
  border-radius: 15px;
}

.blogCard {
  background-color: #e6e6e6;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.date_container {
  background-color: var(--primary_color);
  color: white;
  width: 65px;
  border-radius: 10px;
  margin-top: -50px;
}

.note_icon {
  margin-right: 10px;
  color: var(--primary_color);
}

.card_title {
  color: var(--primary_color);
  font-weight: 600;
}

.card_paragraph {
  font-size: 14px;
}

.readMore_icon {
  color: var(--primary_color);
  font-size: 22px;
}

/* Footer style  */
.footer_icon {
  font-size: 22px;
}

/* Navbar style  */
.navbar_bg {
  background-color: var(--primary_color);
}

.navbar-brand {
  color: var(--secondary_color) !important;
  font-weight: bold;
}

.navLinks {
  color: white !important;
  font-weight: 600;
}

.navbar_icon {
  color: var(--secondary_color);
  font-size: 22px;
  margin-right: 15px;
}

.navbarNumber {
  color: white;
}

.navbar_img {
  height: 130px;
  width: 130px;
  object-fit: contain;
  margin-right: 15px;
}

/* Pricing style  */
.price_card {
  background-color: rgba(255, 255, 255, 0.893);
  border-radius: 30px;
}

.price_sub {
  color: var(--primary_color);
}

.price_title {
  color: var(--primary_color);
  font-weight: bolder;
}

.btn_book {
  background-color: var(--primary_color);
  width: 100%;
  color: white;
}

/* About Card Sections style  */
.about_gold_card {
  background-color: var(--primary_color);
  border-radius: 12px;
  height: 180px;
}

.year_number {
  margin-right: 10px;
}

.about_card_img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.about_logo_img {
  height: 180px;
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

/* service area's  */
.area_container {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color);
}

.btn_book_service {
  background-color: var(--primary_color);
  color: var(--background_color);
}

.area_icon {
  font-size: 30px;
  color: var(--background_color);
}

/* Animation Overflow  */
.overflow_content {
  overflow: hidden !important;
}

/* Adjust heading size for smaller screens */
@media screen and (max-width: 576px) {
  .header_title {
    font-size: 40px;
    /* line-height: 56px; */
    width: 100%;
    margin-bottom: 20px;
  }

  .header_img {
    height: 300px;
    width: 100%;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    object-fit: cover;
  }

  .header_span {
    color: var(--primary_color);
  }

  /* services style  */
  .card_margin_top {
    margin-top: 0px;
  }

  /* cleaning steps  */
  .steps_img {
    height: 400px;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 30px;
  }

  /* contact cards  */
  .contact_section2 {
    margin-top: 0px;
  }

  .contact_padding {
    padding: 20px;
  }

  .terms_padding {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Footer  */
  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .navbar_img {
    height: 70px;
    width: 130px;
    object-fit: contain;
    margin-right: 15px;
  }
}
