:root {
  --primary_color: #b29753;
  --secondary_color: #000000;
  --light_black_color: #191919;
  --background_color: #f1f3f2;
  --secondary_background_color: #418360;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000000ef;
  /* background-color: #000000c5;  */
  /* background-color: #000000d6;  */
}

.text_color {
  color: #012350 !important;
}

.gold_text {
  color: #8f7b49;
}

.triangle_topleft {
  width: 0;
  height: 0;
  border-top: 100px solid var(--primary_color);
  border-right: 100px solid transparent;
}
